.bg-be0f30 {
  background-color: #BE0F30 !important;
}

body {
  font-family: 'Inter', sans-serif;
}

/* home */
.titulo {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

.portada {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: 50% 90%;
  border-radius: 10px;
  margin-top: 10px;
}

.introduccion {
  font-size: 35px;
  margin-top: 20px;
  font-weight: bold;
}

.texto {
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
}

.tabla {
  width: 90%;
}


.tabla th {
  border: 1px solid white;
  padding: 5px;
  font-weight: normal;
}

.tabla td {
  border: 1px solid white;
  padding: 5px;
}

.requisitos {
  width: 100%;
  margin-top: 20px;
}

.requisitos h3 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.requisitos ul {
  list-style-type: none;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.requisitos li {
  margin-bottom: 5px;
}


.imagen-requisitos img {
  width: 70%;
  border-radius: 5px;
}

.destacado {
  color: #C5A76A;
  font-weight: bold;
}

/* home */


/* login */
.icono {
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-container {
  width: 350px;
  height: 350px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  background: #FFF;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
}




input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #282828;
  color: #ffffff;
  /* Cambia el color del texto según tu diseño */
  border-radius: 8px;
}

button {
  color: #fff;
  padding: 10px 5px;
  /* Ajusta el padding para hacer el botón más corto */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: auto;
  /* Permite que el ancho del botón sea ajustado automáticamente según el contenido */
}

/* login */


/* Signup */

.Signup-container {
  background: #FFF;
  width: 450px;
  height: auto;
  margin: auto;
  padding: 45px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo del formulario de registro */
.Signup-form {
  display: flex;
  flex-direction: column;
}

/* Signup */


/*layout*/
.name {
  font-size: 35px;
  font-weight: bold;
}

.login {
  font-size: 20px;
  font-weight: bold;
}

.signup {
  font-size: 20px;
  font-weight: bold;
}

.fondo-negro {
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
}



/* boton salir*/
.exit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.exit-button:hover {
  background-color: #bd2130;
}

/* boton salir*/


/* Cambia el color de los íconos de navegación del carousel a rojo */
.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  color: rgb(177, 83, 83);
}

.nombrefooter {
  text-align: center;
  margin: 0;
}

#footer {
  justify-content: center;
  display: flex;
  align-items: center;
  /* Alinea verticalmente en el centro */
  padding: 10px;
  /* Añade algún espacio alrededor del contenido */
}

#footerhome {
  background: black;
  color: #fff;
  justify-content: center;
  display: flex;
  align-items: center;
  /* Alinea verticalmente en el centro */
  padding: 10px;
  /* Añade algún espacio alrededor del contenido */
}

#footersing {
  background: white;
  color: black;
  justify-content: center;
  display: flex;
  align-items: center;
  /* Alinea verticalmente en el centro */
  padding: 10px;
  /* Añade algún espacio alrededor del contenido */
}

.logonodo {
  justify-content: flex-start;
  height: 50px;
  width: 50px;
  /* margin-right: 10px; /* Añade algún espacio entre la imagen y el texto si es necesario */
}

*/ .frase {
  font-size: 40px;
  /* Ajusta el tamaño de fuente según sea necesario */
  margin-top: 20px;
  font-weight: bold;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

button {
  margin: 0;
  /* Eliminar el margen predeterminado de los botones */
}

.centered-form {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.label-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

.centered-form label,
h1 {
  color: black;
}

.main-container {
  background-color: #fff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;

}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.centered-form-container {
  display: flex;
  justify-content: center;
}

.centered-form {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.label-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}


#footer {
  background-color: #000000;
  color: #ffffff;
  /* Ajusta el color del texto según sea necesario para asegurar la visibilidad en el fondo negro */
}

.nombrefooter {
  /* Estilos adicionales para el contenido del pie de página si es necesario */
}

.login-form button {
  background-color: #C5A76A;
  color: #ffffff;
  /* Texto en color blanco para contrastar con el fondo */
  /* Puedes agregar estilos adicionales según sea necesario */
}

.Signup-form button {
  background-color: #C5A76A;
  color: #ffffff;
  /* Texto en color blanco para contrastar con el fondo */
  /* Puedes agregar estilos adicionales según sea necesario */
}




.button-container button {
  margin: 1rem;
  right: 1rem;
}



.order-status-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* Centra los detalles verticalmente */
  text-align: center;
  /* Centra el texto dentro de la sección de detalles */
}

.order-detail {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  display: flex;
  /* Mostrar los elementos en línea */
  align-items: center;
  /* Alinear los elementos verticalmente */
}

.order-detail p:first-child {
  font-weight: 600;
  /* Resaltar la pregunta */
  margin-right: 10px;
  /* Espacio entre la pregunta y la respuesta */
}

.order-detail p:nth-child(2) {
  text-align: left;
  /* Alinear la respuesta a la izquierda */
}

/* css de UserInfo */
.user-info-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  color: #FFF;
  text-align: center;
}

.user-info-container > div {
  margin-bottom: 10px;
}

.user-info-container > div > strong {
  font-weight: bold;
}

.user-info-container > div > span {
  font-size: 14px;
}

.user-info-container > button {
  justify-content: center;
  margin-top: 20px;
  background-color: #C5A76A;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px; /* Ajusta el ancho según tu preferencia */
}



